@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=JetBrains+Mono:wght@400;700&family=Space+Grotesk:wght@700;800&display=swap');

body {
  margin: 0;
  background-color: #050b14;
  color: #ffffff;
  overflow: hidden;
}